@CHARSET "UTF-8";

body{
	font-family:arial,verdana,helvetica,non-serif;
	font-size:65%;
	font-weight:normal;
}
#sidebar{
	float:left;
	background-color: yellow;
	width:400px;
	padding:10px;
}
#content{
	float:left;
	background-color: #777777;
	width:400px;
	padding:10px;
}

#header{
	float:left;
	width:800px;
	height:80px;
	padding:20px;
	background-color: gray;
}

#footer{
	clear:left;
	width:800px;
	padding:20px;
	background-color: green;
}